
/*LOGIN*/

.login-page {
    width: 360px;
    padding: 8% 0 0;
    margin: auto;
}
.form {
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    input {
        font-family: "Roboto", sans-serif;
        outline: 0;
        background: #f2f2f2;
        width: 100%;
        border: 0;
        margin: 0 0 15px;
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
    }
    button {
        font-family: "Roboto", sans-serif;
        text-transform: uppercase;
        outline: 0;
        background: #4CAF50;
        width: 100%;
        border: 0;
        padding: 15px;
        color: #FFFFFF;
        font-size: 14px;
        -webkit-transition: all 0.3 ease;
        transition: all 0.3 ease;
        cursor: pointer;
    }
    button:hover,.form button:active,.form button:focus {
        background: #43A047;
    }
}

/* MENU */

.left-menu-bar{
    width: 280px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: #FFFFFF;
}

.group-avatar {
    display: flex!important;
    align-items: center!important;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    .avatar-img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-right: 11px;
        img{
            width: 100%;
            height: 100%;
            max-height: auto;
            border-radius: inherit;
            -o-object-fit: cover;
            object-fit: cover;
            vertical-align: middle;
        }
    }
    .name{
        color: var(--color-title);
        font-weight: 600;
    }
}

.btn{
    background-color: var(--color-button);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 8px;
    display: flex;
    align-items: center;
        .ov-icon{
            margin-right: 10px;
        }
        span{
            margin-left: 6px;
            margin-right: 9px;
        }
}