body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
}

.header{
    position: fixed;
    height: 70px;
    background: #fff;
    right: 65px;
    left: 339px;
    top: 0;
    z-index: 123;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px;
}

.main-title{
    color: var(--color-title);
    margin: 16px;
    margin-left: 22px;
    font-size: 22px;
    .ov-icon{
        width: 34px;
        height: 34px;
        vertical-align: middle;
        margin-right: 18px;
    }
}

.container{
    margin-top: 106px;
    margin-right: 56px;
    margin-left: 332px;
    .box{
        background-color: #fff;
        border-radius: 5px;
        padding: 30px;
    }
}

.mt-1{
    margin-top: 1.25rem;
}
