body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-background);
}
a{
    text-decoration: auto;
}
.header{
    position: fixed;
    height: 70px;
    background: #fff;
    right: 65px;
    left: 339px;
    top: 0;
    z-index: 123;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    padding: 10px;
}

.main-title{
    color: var(--color-title);
    margin: 16px;
    margin-left: 22px;
    font-size: 22px;
    .ov-icon{
        width: 34px;
        height: 34px;
        vertical-align: middle;
        margin-right: 18px;
    }
}

.container{
    margin-top: 106px;
    margin-right: 56px;
    margin-left: 332px;
    .box{
        background-color: #fff;
        border-radius: 5px;
        padding: 30px;
        .title {
            font-weight: bold;
        }
    }
}

.mt-1{
    margin-top: 1.25rem;
}

/* MENU */

.left-menu-bar{
    width: 220px;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    transition: all .3s ease-in-out;
    background-color: #FFFFFF;
    padding: 28px;
    .title-menu {
        font-weight: bold;
        font-size: 26px;
    }
}

.content-menu{
    margin-top: 35px;
    ul{
        list-style: none;
    }
    li{
        margin: 16px;
        cursor: pointer;
        .ov-icon{
            margin-right: 12px;
            color: var(--color-button);
        }
    }
}


/* HEADER*/

.group-avatar {
    display: flex!important;
    align-items: center!important;
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    background-color: #fff;
    .avatar-img{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        margin-right: 11px;
        img{
            width: 100%;
            height: 100%;
            max-height: auto;
            border-radius: inherit;
            -o-object-fit: cover;
            object-fit: cover;
            vertical-align: middle;
        }
    }
    .name{
        color: var(--color-title);
        font-weight: 600;
    }
}